*,*:after,*:before{
    box-sizing: border-box;
}
body{
    font-size: 16px;
    margin:0;
}
main{
    width: 100%;
    height: 100vh;
    padding-top: 1em;
}
h1{
    display: block;
    margin-top: 0;
    text-align: center;
}
p{
    text-align: center;
}
#messageError{
    color:tomato;
}
form{
    width: 80%;
    margin:0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.btn{
    border:0;
    padding: 1em;
    color:white;
    width: 10em;
    font-size: .8em;
    align-self: center;
    margin-top: 1em;
    background-color: cadetblue;
}
label{
    margin:0 auto;
    width: 80%;
    display: flex;
    justify-content: space-around;
}
input{
    border: none;
    font-size: .9em;
    margin-top: 1em;
    border-bottom: solid 1px cadetblue;
    padding: 1em;
    width: 100%;
}