.navbar {
    font-family: $navbar-font-family;
    @include border-radius(0);
    @include box-shadow(0 1px 5px rgba(0,0,0,.3));
    border: none;
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 15;
    width: 100%;

    .col-12{
        padding: 0;
    }
    .navbar-brand {
        @include three-dots-overflow();
        @extend .margin-0;
        @extend .padding-0;
    }

    .navbar-header {
        @extend .inlineblock;
        line-height: 1;
        padding: 10px 0;

        .bars {
            float: left;
            text-decoration: none;
        }
    }

    .navbar-nav {
        float: right;
        @extend .inlineblock;

        > li {
            @extend .inlineblock;
            > a {
                padding: 11px 15px;
                @extend .inlineblock;
            }
        }
        .dropdown-toggle{
            &:after{
                display: none;
            }
        }

        .dropdown-menu {
            @include border-radius(3px);
            right: 0;
            left: auto;
            ul.menu{
                li{
                    border: none;
                    a{
                        @extend .displayblock;
                    }
                }
            }
            .footer{
                padding: 10px 15px;
                border-top: 1px solid $grey-200;
                a{
                    @extend .displayblock;
                    @extend .align-left;
                    @extend .padding-0;
                    border: none;

                }
            }
        }
    }
}

.ls-closed {
    .sidebar {
        margin-left: -300px;
    }

    section.content {
        margin-left: 0px;
    }

    .bars {
        &:after,
        &:before {
            font-family: 'Material Icons';
            font-size: 24px;
            position: absolute;
            top: 9px;
            left:0px;
            margin-right: 10px;
            @include transform(scale(01));
            @include transition(all .3s);
        }

        &:before {
            content: '\E5D2';
            @include transform(scale(1));
        }

        &:after {
            content: '\E5C4';
            @include transform(scale(0));
        }
    }
    .navbar{
        .navbar-brand {
            margin-left: 30px;
        }
    }
}

.overlay-open {
    .bars {
        &:before {
            @include transform(scale(0));
        }

        &:after {
            @include transform(scale(1));
        }
    }
}

.label-count {
    position: absolute;
    top: 2px;
    right: 6px;
    font-size: 10px;
    line-height: 15px;
    background-color: $black;
    padding: 0 4px;
    @include border-radius(3px);
}

@each $key, $val in $colors {
    .col-#{$key} {
        .navbar {
            @include navbar-link-color($white, $black, .95);
        }
    }
}



@media (max-width: 767px){
    .navbar{
        .navbar-nav{
            .dropdown-menu{
                right: -70px;
            }
        }
    }

}
