<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Recuperacion de contraseña</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
<main>
    <h1>{{.title}}</h1>
    <p>{{.username}} ha solicitado un cambio de contraseña</p>
    <p id="messageError"></p>
    <form id="{{.userId}}">
        <label>
            <input type="password" name="pass" id="pass" required minlength="6" placeholder="Nueva contraseña">
        </label>
        <label>
            <input type="password" name="pass2" id="pass2" required minlength="6" placeholder="Repetir contraseña">
        </label>
        <input type="submit" value="Actualizar" class="btn">
    </form>
</main>

<script src="/public/js/recover.js"></script>
</body>
</html>