﻿.authentication {
    height: 100vh;
    background: url(../images/login_bg.jpg) no-repeat top left fixed;
}

/* Card */
.authentication {
  .card {
      border-radius: 0;
      padding: 120px 30px 0;
      height: 100vh;
      margin: 0;
      border: none;
      .title {
          position: relative;
          z-index: 1;
          border-left: 5px solid #00adef;
          margin: 0 0 25px;
          padding: 10px 0 10px 42px;
          color: #00adef;       ;
          text-transform: uppercase;
          span {
              font-size: 13px;
              display: block;
              margin: 0;
              line-height: 18px;
              font-weight: 400;
              color: #444;
          }
          .msg {
              font-size: 13px;
              color: #666;
              display: block;
              margin: 0;
              padding: 0;
              font-weight: normal;
              line-height: 18px;
              margin-top: 10px;
              text-transform: none;
          }
      }
      .input-container {
          position: relative;
          margin: 0 0px 30px;
      }
  }
  .locked {
      .thumb {
          float: left;
          margin-right: 15px;
          .media-object {
              display: inline-block;
              width: 70px;
          }
      }
      .media-heading {
          padding-top: 10px;
          color: #555;
          strong {
              display: block;
              font-weight: normal;
          }
      }
  }
  .l-login {
      text-transform: uppercase;
      .msg {
          font-size: 15px;
          font-weight: 400;
          text-transform: none;
      }
  }
  .form-line {
    .search-btn {
        display: inline-block;
        position: absolute;
        right: 50px;
        top: 0;
        button {
            box-shadow: none;
            margin: 0;
        }
    }
  }
  .l-detail {
      margin-top: 120px;
      padding: 0 100px;
      color: #444;
      h1 {
          margin: 0;
          font-size: 60px;
          font-weight: 300;
          span {
              font-weight: 700;
              text-decoration: underline;
          }
          h5 {
              font-size: 20px;
              margin: 0;
              letter-spacing: 2px;
          }
      }
      h3 {
          text-transform: uppercase;
          font-weight: 400;
      }
      p {
          font-size: 16px;
          line-height: 24px;
      }
      .l-social {
          margin-top: 5%;
          li {
              display: inline-block;
              a {
                  text-align: center;
                  padding: 10px 5px;
                  i {
                      font-size: 20px;
                  }
              }
          }
      }
      .l-menu {
          li {
              display: inline-block;
              margin-right: 20px;
              a {
                  padding: 10px 0;
                  font-size: 16px;
                  text-transform: uppercase;
              }
          }
      }
  }
}

@media only screen and (min-width: 992px) and (max-width: 1024px) {
    .authentication {
        .l-detail {
            padding: 0 20px;
        }
    }
}
@media only screen and (max-width: 992px) {
    .authentication {
        .card {
            padding: 40px 15px;
            height: auto;
            margin-bottom: 15px;
            margin-top: 15px;
        }
        .l-detail {
            margin-top: 15%;
            padding: 0 0px;
            text-align: center;
        }
        .l-menu {
            margin: 30px 0;
        }
    }
}
@media only screen and (max-width: 767px) {
    .authentication {
        .l-detail {
            h3 {
                font-size: 20px;
            }
            p {
                font-size: 15px;
            }
        }
    }
}
@media only screen and (max-width: 340px) {
    .authentication{
      .card {
        padding: 40px 0;
    }
    }
}
